*{
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body{
  font-family: 'Montserrat', sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
  color: #fff;
}

a:active,
a:link,
a:visited{
  color: #fff;
  text-decoration: none;
}